@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
}

:root {
  --color-text: rgb(0 0 0 / 88%);
  --color-text-secondary: rgb(0 0 0 / 65%);
  --color-text-tertiary: rgb(0 0 0 / 45%);
  --color-text-quaternary: rgb(0 0 0 / 25%);
  --color-border: #d9d9d9;
  --color-border-secondary: #f0f0f0;
  --color-fill: rgb(0 0 0 / 15%);
  --color-fill-secondary: rgb(0 0 0 / 6%);
  --color-fill-tertiary: rgb(0 0 0 / 4%);
  --color-fill-quaternary: rgb(0 0 0 / 2%);
  --color-bg-container: #fff;
  --color-bg-elevated: #fff;
  --color-bg-layout: #f5f5f5;
  --color-bg-spotlight: rgb(0 0 0 / 85%);
  --color-bg-mask: rgb(0 0 0 / 45%);
  --color-primary: 88 80 236;
  --color-primary-content: 255 255 255;
  --color-primary-bg: 243 240 255;
  --color-primary-bg-hover: 243 240 255;
  --color-primary-border: 216 209 255;
  --color-primary-border-hover: 178 168 255;
  --color-primary-hover: 135 125 250;
  --color-primary-active: 60 58 199;
  --color-primary-text-hover: 135 125 250;
  --color-primary-text: 88 80 236;
  --color-primary-text-active: 60 58 199;
  --color-danger: 244 36 36;
  --color-danger-content: 255 255 255;
  --color-danger-bg: 255 242 240;
  --color-danger-bg-hover: 255 211 204;
  --color-danger-border: 255 172 163;
  --color-danger-border-hover: 250 129 120;
  --color-danger-hover: 237 81 76;
  --color-danger-active: 186 20 26;
  --color-danger-text-hover: 237 81 76;
  --color-danger-text: 224 36 36;
  --color-danger-text-active: 186 20 26;
  --elevated-shadow-color: rgb(0 0 0 / 24%);
}

.dark:root {
  --color-text: rgb(255 255 255 / 85%);
  --color-text-secondary: rgb(255 255 255 / 65%);
  --color-text-tertiary: rgb(255 255 255 / 45%);
  --color-text-quaternary: rgb(255 255 255 / 25%);
  --color-border: #424242;
  --color-border-secondary: #303030;
  --color-fill: rgb(255 255 255 / 18%);
  --color-fill-secondary: rgb(255 255 255 / 12%);
  --color-fill-tertiary: rgb(255 255 255 / 8%);
  --color-fill-quaternary: rgb(255 255 255 / 4%);
  --color-bg-container: #141414;
  --color-bg-elevated: #1f1f1f;
  --color-bg-layout: #000;
  --color-bg-spotlight: #424242;
  --color-bg-mask: rgb(0 0 0 / 45%);
  --color-primary: 91 102 211;
  --color-primary-content: 255 255 255;
  --color-primary-bg: 25 26 42;
  --color-primary-bg-hover: 34 36 67;
  --color-primary-border: 45 49 88;
  --color-primary-border-hover: 58 64 121;
  --color-primary-hover: 135 148 232;
  --color-primary-active: 75 83 166;
  --color-primary-text-hover: 135 148 232;
  --color-primary-text: 91 102 211;
  --color-primary-text-active: 75 83 166;
  --color-danger: 207 73 73;
  --color-danger-content: 255 255 255;
  --color-danger-bg: 41 23 24;
  --color-danger-bg-hover: 65 30 31;
  --color-danger-border: 86 39 39;
  --color-danger-border-hover: 119 48 48;
  --color-danger-hover: 229 119 115;
  --color-danger-active: 163 60 60;
  --color-danger-text-hover: 229 119 115;
  --color-danger-text: 207 73 73;
  --color-danger-text-active: 163 60 60;
  --elevated-shadow-color: rgb(0 0 0 / 24%);
}

.group-item {
  transition: all 0.4s ease-in-out;
}

.group-item-enter {
  opacity: 0;
  transform: translateX(50%);
}

.group-item-exit-to {
  opacity: 0;
  transform: translateX(50%);
}
