.trigger {
  &:hover {
    @apply border-primary-hover;
  }

  &:focus-visible,
  &[data-state="open"] {
    @apply border-primary outline-none ring-1 ring-primary-border;
  }
}

.dropdown {
  animation: select-dropdown-appear 250ms ease-in-out;
}

@keyframes select-dropdown-appear {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
